@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: relative;
	top: 0;	
  width: 100%; 
	height: 100%; 
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url("images/stars.png") repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: -1;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("images/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("images/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
img{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

body { 
  position: relative;
color: #ffffff;

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: magenta;
}

/* selected link */
a:active {
  color: green;
}
.purple-glow {
/* -webkit-box-shadow:0px 0px 151px 71px rgba(106,20,204,0.9); */
/* -moz-box-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9); */
text-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9);
  }
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #f7f,
    0 0 21px #97f,
    0 0 42px #97f,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.blackSmoke {
  color: #fff;
  text-shadow:
    0 0 7px #000,
    0 0 10px #000,
    0 0 21px #000,
    0 0 42px #000,
    0 0 82px #000,
    0 0 92px #000,
    0 0 102px #000,
    0 0 151px #000;
}
.rightsd {
    text-align: right;
    color: #c4ff47;
    a:link {
      color: #c4ff47;
      text-decoration: none;
    }
    a:visited {
      color: #c4ff47;
      text-decoration: none;
    }
  }
p.solid {border-style: solid;}

div.box1 {
  max-width: 800px;
  margin: auto;
  border: 3px solid #36006b;
  background-color: #000000;
}


}

