@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed; 
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url("images/stars.png") repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: -3;
}

.twinkling{
  pointer-events: none;
	width:10000px;
	height: 100%;
	background: transparent url("images/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    
  -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
}

.clouds{
  pointer-events: none;
	width:10000px;
	height: 100%;
	background: transparent url("images/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;

  -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}

img{
  height: 70vh;
  width:70vh;
  position: absolute;
  z-index: -1;  
  right: 20px;
}

body { 
  position: relative;
  z-index: 10;
color: #ffffff;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: magenta;
}

/* selected link */
a:active {
  color: green;
}
.purple-glow {
/* -webkit-box-shadow:0px 0px 151px 71px rgba(106,20,204,0.9); */
/* -moz-box-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9); */
text-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9);
  }
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #f7f,
    0 0 21px #97f,
    0 0 42px #97f,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.blackSmoke {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #000,
    0 0 42px #000,
    0 0 82px #000,
    0 0 92px #000,
    0 0 102px #f00,
    0 0 151px #fff;
}

.rightsd {
    text-align: right;
    color: #c4ff47;
    a:link {
      color: #c4ff47;
      text-decoration: none;
    }
    a:visited {
      color: #c4ff47;
      text-decoration: none;
    }
  }
p.solid {border-style: solid;}

div.box1 {
  max-width: 1024px;
  margin: auto;
  border: 3px solid #36006b;
  background-color: #000000;
}

div.box2 {
  max-width: 10024px;
  margin: auto;
  border: 3px solid #36006b;
  background-color: #000000;
}

.container{
  position:relative;
  width:400px;
  height:400px;
  background:white;
  margin: auto;
  padding-top:300px;
  padding-left: 120px;  
}
.button {
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  background: #630fe8;
  border-radius: 50px;
  padding: 30px 90px;
  border: none;
  transition: .5s ease;
  box-shadow: 0 15px 60px -5px rgba(0, 0, 0, .5);
}
.button:hover {
  box-shadow: none;
  cursor: pointer;
}
.button:hover + .drip-1{
  height: 50px;
}
.button:hover ~ .drip-2{
  height: 90px;
}
.button:hover ~ .drip-3{
  height: 30px;
}
.drip-1{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 158px;
  transition: height 0.9s ease;
}
.drip-2{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 140px;
  transition: height 1.5s ease;
}
.drip-3{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:#efd5e7;
  margin: 0px 60px;
  transition: height .7s ease;
}
}
