body {
background: linear-gradient(0deg, #000000 1%, #36006b 100%);
background-repeat: no-repeat;
background-color: #000000;
color: #ffffff;






.purple-glow {
-webkit-box-shadow:0px 0px 151px 71px rgba(106,20,204,0.9);
-moz-box-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9);
box-shadow: 0px 0px 151px 71px rgba(106,20,204,0.9);
  }

}



